
.w235s{
    display: flex;
    position: absolute;
    justify-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    background-image:url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=740');
    
}

.q23rd{
    align-self: center;

}