@tailwind base;
@tailwind components;
@tailwind utilities;

.back-img{
 /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1445' height='600' preserveAspectRatio='none' viewBox='0 0 1445 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3crect width='1445' height='600' x='0' y='0' fill='rgba(1%2c 70%2c 133%2c 0.98)'%3e%3c/rect%3e%3cpath d='M1394.72837271516 536.8750531651642L1405.240635550408 436.8575533120373 1305.223135697281 426.3452904767895 1294.710872862033 526.3627903299165z' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1382.627%2c213.985C1421.92%2c213.095%2c1455.088%2c187.835%2c1474.696%2c153.773C1494.256%2c119.795%2c1500.657%2c77.734%2c1480.376%2c44.181C1460.66%2c11.564%2c1420.734%2c2.109%2c1382.627%2c1.455C1343.004%2c0.775%2c1300.145%2c7.278%2c1278.885%2c40.722C1256.371%2c76.138%2c1261.483%2c122.108%2c1283.041%2c158.113C1303.998%2c193.115%2c1341.841%2c214.909%2c1382.627%2c213.985' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M541.054%2c459.307C592.367%2c461.674%2c643.951%2c441.754%2c671.212%2c398.217C700.093%2c352.093%2c704.821%2c291.231%2c674.662%2c245.932C646.859%2c204.173%2c591.193%2c201.003%2c541.054%2c202.721C494.824%2c204.305%2c446.259%2c214.936%2c422.417%2c254.575C397.972%2c295.217%2c406.374%2c346.064%2c430.153%2c387.099C453.858%2c428.006%2c493.825%2c457.129%2c541.054%2c459.307' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M721.227%2c573.333C742.791%2c572.579%2c756.939%2c552.825%2c766.691%2c533.577C775.341%2c516.504%2c778.084%2c496.601%2c768.496%2c480.037C758.925%2c463.502%2c740.319%2c455.727%2c721.227%2c455.034C700.627%2c454.287%2c678.564%2c458.909%2c667.62%2c476.378C656.12%2c494.733%2c659.417%2c518.006%2c669.898%2c536.962C680.773%2c556.631%2c698.766%2c574.119%2c721.227%2c573.333' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M835.1627466739095 94.84451309865257L693.4596175132671 99.79289540833074 698.4079998229452 241.49602456897316 840.1111289835877 236.547642259295z' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1425.9667889847256 92.43666706765546L1461.9935611146436 3.267276997870397 1372.8241710448588-32.75949513204776 1336.7973989149405 56.4098949377373z' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1533.037%2c862.732C1599.385%2c866.87%2c1662.646%2c825.152%2c1691.554%2c765.289C1717.6%2c711.353%2c1693.022%2c650.398%2c1659.565%2c600.718C1630.63%2c557.752%2c1584.83%2c529.015%2c1533.037%2c529.908C1482.724%2c530.776%2c1439.309%2c561.552%2c1413.848%2c604.955C1388.046%2c648.941%2c1384.026%2c701.157%2c1405.428%2c747.444C1431.214%2c803.212%2c1471.715%2c858.908%2c1533.037%2c862.732' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M432.877%2c29.691C448.152%2c29.773%2c461.413%2c20.763%2c469.67%2c7.912C478.777%2c-6.262%2c485.064%2c-24.008%2c476.818%2c-38.699C468.451%2c-53.606%2c449.968%2c-57.99%2c432.877%2c-57.641C416.494%2c-57.307%2c399.879%2c-51.299%2c391.936%2c-36.967C384.186%2c-22.984%2c388.396%2c-6.103%2c396.763%2c7.52C404.687%2c20.421%2c417.737%2c29.61%2c432.877%2c29.691' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1031.2560245032385 528.2627860164663L1153.8353712599192 624.0322677440437 1249.6048529874965 501.4529209873631 1127.0255062308158 405.6834392597857z' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M155.34817854855945 221.37865271410507L157.72375817180372 357.4755181805756 293.82062363827424 355.0999385573313 291.44504401502996 219.0030730908608z' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M927.003277036731 563.0660344795467L1054.0229926354093 463.8273563993283 954.7843145551909 336.80764080065 827.7645989565126 436.0463188808684z' fill='rgba(6%2c 107%2c 184%2c 0.27)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1445' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
 /* background-image:url('./Image/background31.jpg') ; */
 background-image:url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=740')
 
}
.layer{
background-color:#05050598;
}
.arrowtest-east{
  /* position: absolute;  */
  /* width: 0; 
  height: 0; 
  line-height: 0;  */
  border: 30px dashed rgba(238, 68, 68, 0.534)  ;
  border-bottom-color: #000; 
  background: transparent;
  border-left-style: solid; 
  border-right:none; 
  border-top-color: transparent; 
  border-bottom-color: transparent;
}
.arrowtest-south{
  /* position: absolute;  */
  /* width: 0; 
  height: 0; 
  line-height: 0;  */
  border: 30px dashed  rgba(238, 68, 68, 0.734) ;
  border-bottom-color: #000; 
  border-bottom-style: solid; 
  border-bottom:none; 
  border-right-color: transparent; 
  border-left-color: transparent;
}

.arrowtest-east:hover {
  /* content:''; */
  /* position:absolute; */
  /* width: 0;
  height: 0; */
  right:7px;
   border: 29px dashed rgba(239, 68, 68,2) ;; 
   
   border-left-style: solid; 
   border-right: none; 
   border-top-color: transparent; 
   border-bottom-color: transparent;
}
.hide{display: none;}
.box:hover .hide {
  display:flex
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------- */

.arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  right: 8%;
  transform: rotate(45deg);
  transition: 0.2s ease;
}
.arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: rgba(236, 68, 68, 0.641);
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}
.box:hover .arrow{
  width: 8vmin;
  height: 8vmin;
  box-sizing: border-box;
  position: absolute;
  right: 2%;
  transform: rotate(45deg);
}

/* ------------------- */

.resumeArrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.resumeArrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-top: 5px solid rgba(236, 68, 68, 0.282);
  border-left: 5px solid rgba(236, 68, 68, 0.282);
  transform: rotate(0deg);
  margin: -10px;
  animation: animate 4s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(5px,5px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(-5px,-5px);
  }
}


/* -------------------------- */


/* div.arrow:after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}
div.arrow:hover::after {
  transform: rotate(45deg);
  border-color: orange;
  height: 120%;
}
div.arrow:hover::before {
  border-color: orange;
  transform: scale(0.8);
} */



/* --------------------------------------------- */
/* 

.the-arrow {
  width: 64px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: rgb(236, 68, 68);
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color:rgb(236, 68, 68);
}
.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width: 64px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #999;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: rgb(236, 68, 68);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  transform-origin: top right;
}
.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color:rgb(236, 68, 68);
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: rgb(236, 68, 68);
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 50px;
  transition-delay: 0.1s;
  background-color: rgb(236, 68, 68);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: rgb(236, 68, 68);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  transform: translateX(80px);
}
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}

 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
/* .animated-arrow > .main > .the-arrow {
  position: relative;
}  */